@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3E3232;
    --secundary-color: #503C3C;
    --third-color: #7E6363;
    --color-hover: #A87C7C;

    --font-monserrat: "Montserrat", sans-serif;
    --font-krona: "Krona One", sans-serif;
    --color-footer: #FFF6E9;
    --font-size-paragraph: 1.5rem;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--color-footer);
    box-sizing: border-box;
}

.header {

    padding: 2% 0 0 20%;
}

.header__menu {
    display: flex;
    gap: 80px;

}

.header__menu__link {
    font-family: var(--font-monserrat);
    font-weight: 600;
    color: var(--color-hover);
}

.highlight-meat {
    color: var(--color-hover);
}

span {
    color: var(--third-color);
}

.presentation {
    display: flex;
    padding: 8% 20%;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.presentation__content__titulo {
    font-size: 36px;
    font-family: var(--font-krona);
}

.presentation__content__text {
    font-size: var(--font-size-paragraph);
    font-family: var(--font-monserrat);
}

.presentation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.presentation__links__subtitle {
    font-family: var(--font-krona);
    font-size: var(--font-size-paragraph);
    font-weight: 400;
}

.presentacion__links__link {
    width: 50%;
    border: 2px solid var(--third-color);
    text-align: center;
    padding: 7.5px 0;
    border-radius: 8px;
    font-family: var(--font-monserrat);
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.presentacion__links__link:hover {
    background-color: var(--color-hover);

}

.presentation__hover-image {
    transition: transform 0.3s, ease;

}

.presentation__hover-image:hover {
    transform: scale(1.1) scaleX(-1);
}

.presentation___content___paragraph__link {
    color: var(--color-hover);
}

.presentation__image {
    width: 50%;
}

.footer {
    background-color: var(--third-color);
    padding: 24px;
    color: var(--primary-color);
    text-align: center;
    font-family: var(--font-monserrat);
    font-weight: 400;
    font-size: var(--font-size-paragraph);
}

@media (max-width: 1200px) {
    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__content {
        width: auto;
    }

    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }
}